:root {
	--my-gray: #ddd;
}

.lista-time {
	position: relative;
}

.lista-time:before {
	display: inline-block;
	position: absolute;

	content: " ";

	background-color: var(--my-gray);

	width: 5px;
	height: 100%;
	border-radius: 3px;
	z-index: -1;
	left: 17px;
}

.elemento-time {
	--elemento-time-content: "2";
	position: relative;

	padding: 0px;

	margin: 0px 0px 20px 50px;
}
.div-time {
	color: black;
	background: white;
	padding: 20px;
	border: 4px solid var(--my-gray);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.elemento-time:before {
	display: inline-block;
	position: absolute;

	padding-top: 9px;
	content: var(--elemento-time-content);

	text-align: center;
	background-color: white;
	color: Black;

	border: 4px solid var(--my-gray);
	width: 50px;
	height: 50px;
	border-radius: 50%;

	left: -55px;
	top: 10px;

	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
