body {
	padding-top: 100px;
	padding-bottom: 200px;

	background: #e8cbc0;
	background: -webkit-linear-gradient(to right, #e8cbc0, #636fa4);
	background: linear-gradient(to right, #e8cbc0, #636fa4);
	min-height: 100vh;
}

.cardPersonali {
	min-width: none;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
}

html {
	position: relative;
	min-height: 100%;
}

.gray {
	background-color: #dadada;
}
