body {
	padding-top: 100px;
	padding-bottom: 200px;
}

.body-colorful {
	background: linear-gradient(to right, #09a0ab80, #f77580);
	min-height: 100vh;
}

.cardPersonali {
	min-width: none;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
}

html {
	position: relative;
	min-height: 100%;
}

.gray {
	background-color: #dadada;
}

.image-icon {
	padding: 0px;
	height: 2rem;
	width: 2rem;
	border-radius: 50%;
}

.red-text,
.red-text:hover {
	color: red;
}
.dark-dropdown-item {
	color: #dadada !important;
	background-color: #212529 !important;
}

.dark-dropdown-item:hover {
	color: black !important;
	background-color: #dadada !important;
}
.dark-dropdown-item:active {
	color: black !important;
	background-color: white !important;
}
